body {
	text-align: center;
	font-size: 50px; 
	font-family: "mono45-headline";
	color: #D8BFD8;
	}

h1 {
	margin: 0;
	font-family: "mono45-headline"
}

h2 {
	font-size: 45px;
	margin: 1em 0 3em 0;
	color:black;
	font-family: "mono45-headline"
}

a.selfie {
	background-color:#D8BFD8;
	display:block;
	padding:100px;
	width:300px;
	font-color:black;
	font-family:"museo-sans";
}

a.selfie:hover {
	background-color:pink;
}

h4 {
		margin: 1em 0 1em 0;
		font-size: 20px;
		color: #D8BFD8;
		font-family:"mono45-headline";
	}
.avocado h4 {
		margin: 5em 0 1.5em 0;
		font-size: 20px;
		color: #D8BFD8;
		font-family:"mono45-headline";
}

a.giftproject {
	background-color:#D8BfD8;
	display:block;
	padding:100px;
	width:300px;
	font-size:30px;
	font-family:"museo-sans";
}

a.giftproject:hover {
	background-color:pink;
}

.giftproject p {
		text-align: left;
		font-size: 18px;
		line-height: 3em;
		margin: 15px 240px;
		color: black;
	}

.giftproject h2 {
	font-size: 20px;
	margin: 3em 0 1.5em 0;
	color: #D8BFD8;
	}
	
	.emphasis {
		font-style: italic;
	}

a.crit {
	background-color:#D8BfD8;
	display:block;
	padding:100px;
	width:300px;
	font-size:30px;
}

a.crit:hover {
	background-color:pink;
}

.crit p {
	text-align: left;
	color: black;
	
}

.crit {
	text-align: left;
	font-size: 18px;
	line-height: 3em;
}

a.nemesis {
	background-color:#D8BfD8;
	display:block;
	padding:100px;
	width:300px;
}

a.nemesis:hover {
	background-color:pink;
}

