body {
	text-align: center;
	font-size: 50px; 
	line-height: 1em;
	font-family: "europa";
	}

.giftproject p {
		font-color: white;
	}

.giftproject {
		font-size: 12px;
		margin: 20px 300px;
	}

h2 {
	font-size: 2em;
	margin: 3em 0 1.4em 0;
	font-family: "europa";
	}
	
	.emphasis {
		font-style: italic;
	}

h3 {
	font-family: "europa";
}

.crit p {
	font-color: black;
}

.crit {
	font-size: 12px;
	line-height: 3em;
	margin:20px 160px;
}


