body {
	background: white;
	text-align: center;
	font-size: 50px;
	font-family: "Helvetica"
	line-height: 1.5em;
	}

.giftproject p {
		color: black;
	}

.giftproject {
		background: white;
		border: black;
		font-size: 18px;
		margin: 20px 300px;
	}

h3 {
	font-size: 2em;
	margin: 3em 0 1.4em 0;
	}
	
	.emphasis {
		font-style: italic;
	}
.crit p {
	color: white;
}

.crit {
	background: white;
	color:black;
	border: black;
	font-size: 12px;
	margin:20px 300px;
}

