body {
	margin: 0;
	padding: 150px 0;
	background: #D0D1D2;
}

.background {
	position: absolute;
	width: 100%;
	height: 240px;
	background-color: #3B3B3C;
	border-bottom: 20px solid #fff;
	top: 0;
}

h1 {
	font-family:"Futura";
	font-size:30px;
	text-align:right;
	color:lightblue;
	margin-right:3em;
	line-height:10px;
	padding-top:1.5em;
}

h2 {
	font-family:"Futura";
	font-size:30px;
	text-align:right;
	color:lightblue;
	margin-right:3em;
	line-height:10px;
}

.container {
	width:1200px;
	margin:0 auto;
	position:relative;
	background: #EFEFEF;
	border: 20px solid #fff;
	z-index:150;
}

a {
	background-color:#EFEFEF;
	display:inline-block;
	color:000;
	font-family:"Futura";
	font-size: 15px;
	padding:2px;
	text-align: center;
	margin-left:50px;
}

.stanley {
	margin:0 auto;
	position:relative;
	display:block;
	z-index:160;
}

a.home {
	z-index:200;
}

a.home:hover {
	background-color:lightblue;
}

a.selfie {
	z-index:200;
}

a.selfie:hover {
	background-color:lightblue;
}

h4 {
		font-size: 24px;
		color:black;
		font-family:"Futura";
		text-align:left;
		margin-top:40px;
		padding-left: 50px;
	}

.avocadojpg {
	position:relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	padding:20px;
	display:block;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:60px;
}

.avocado1jpg {
	position:relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	padding:20px; 
	display:block;
	margin-right: auto;
	margin-left: auto;
}

a.giftproject {
	z-index:200
}

a.giftproject:hover {
	background-color:lightblue;
}

.giftprojectpage h4 {                                                                                                                                                               
	color:black;
	font-family:"Futura";
	font-size:28px;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	padding-left:50px;
}

.giftprojectpage p {
	text-align: left;
	color: black;
	font-family:"Futura";
	font-size: 20px;
	padding:10px;
	margin-left:50px;
	margin-right:50px;
	color: black;
}

.emphasis {
	font-style: italic;
}

.amelia {
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	padding:20px;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

a.crit {
	z-index:200
}

a.crit:hover {
	background-color:lightblue;
}

.critpage {
	text-align: left;
	font-size: 18px;
	font-family:"Futura";
}
.critpage h3 {
	padding-left:50px;
	font-size:24px;
}
.critpage p {
	padding-left:50px;
	padding-right:50px;
	line-height:28px;
}
a.nemesis {
	z-index:200
}

a.nemesis:hover {
	background-color:lightblue;
}

.nemesispage img {
	position:relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	padding:20px;
	display:block;
	margin-right:auto;
	margin-left:auto;
}

.nemesispage h5 {
	font-family:"Futura";
	color:black;
	font-size:20px;
	text-align: center;
	color:darkgrey;
	padding-bottom:24px;
	padding-left:150px;
	padding-right:150px;
}

.nemesispage h4 {
	font-family: "Futura";
	color:black;
	text-align:left;
	padding-left:50px;
	margin-bottom:30px;
}
a.howto:hover {
	background-color:lightblue;
}

.howtopage h4 {
	padding-left:50px;
	font-size:24px;
	font-family:"Futura";
	color:black;
}

img {
	position:relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	padding:20px;
	display:block;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
}

h6 {
	padding-left:50px;
	font-size:20px;
	color:darkgrey;
	font-family:"Futura";
	text-align:left;
	line-height:2px;
	margin-top:-20px;
}

a.christmas {
	z-index:200
}

.christmaspage h4 {
	font-size:24px;
	text-align: left;
	padding-left: 50px;
}

.christmaspage img {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	padding:20px;
}

.christmaspage p {
	font-family:"Futura";
	font-size:20px;
	color:black;
	text-align: center;
}

.christmaspage p:hover {
	color:green;
}

a.christmas:hover {
	background-color:lightblue;
}

a.loveletter {
	z-index:200
}

a.loveletter:hover {
	background-color:lightblue;
}

.loveletterpage h4 {
	font-size:24px;
	padding-left: 50px;
}

.loveletterpage img {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	padding:20px;
}

.biggie {
	width:1200px;
	margin:0 auto;
	position:relative;
	background:#EFEFEF;
	z-index:100;
}