body {
	margin: 0;
	padding:0;
}

.container {
	width:1280px;
	margin:0 auto;
	position:relative;
}

.homepage {
	position: absolute;
	left:0;
	top:0;
	z-index:1;
}

a.selfie {
	background-color:#D8BFD8;
	display:block;
	font-color:black;
	font-family:"Futura";
	z-index:200;
	position:absolute;
	left:103px;
	top:350px;
	font-size:20px;
}

a.selfie:hover {
	background-color:pink;
}

h4 {
		margin: 1em 0 1em 0;
		font-size: 20px;
		color: #D8BFD8;
		font-family:"mono45-headline";
	}

.avocado h4 {
		margin: 5em 0 1.5em 0;
		font-size: 20px;
		color: #D8BFD8;
		font-family:"mono45-headline";
}

a.giftproject {
	background-color:#D8BfD8;
	display:block;
	font-family:"Futura";
	z-index:200;
	position:absolute;
	left:165px;
	top:350px;
	font-size:20px;
}

a.giftproject:hover {
	background-color:pink;
}

.giftproject p {
		text-align: left;
		font-size: 18px;
		line-height: 3em;
		margin: 15px 240px;
		color: black;
		font-family:"museo-sans";
	}

.giftproject h2 {
	font-size: 20px;
	margin: 3em 0 1.5em 0;
	color: #D8BFD8;
	}
	
	.emphasis {
		font-style: italic;
	}

a.crit {
	background-color:#D8BfD8;
	display:block;
	font-family:"Futura";
	z-index:200;
	position:absolute;
	left:430px;
	top:350px;
	font-size:20px;
}

a.crit:hover {
	background-color:pink;
}

.crit p {
	text-align: left;
	color: black;
}

.crit {
	text-align: left;
	font-size: 18px;
	line-height: 3em;
	font-family:"museo-sans";
}

a.nemesis {	
	background-color:#D8BfD8;
	display:block;
	font-family:"Futura";
	z-index:200;
	position:absolute;
	left:620px;
	top:350px;
	font-size:20px;
}

a.nemesis:hover {
	background-color:pink;
}

.nemesis h5 {
	font-family:"museo-sans";
	color:black;
	font-size:18px;
}

.nemesis h4 {
	font-family: "museo-sans";
	color:black;
	font-size:20px;
	padding-top:30px;
}
